In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import pandas_datareader as wb

In [4]:
import matplotlib.pyplot as plt

In [5]:
import yfinance as yf
yf.pdr_override()

yfinance: pandas_datareader support is deprecated & semi-broken so will be removed in a future verison. Just use yfinance.

In [18]:
tickers = ['AAPL', 'NVDA']
sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = yf.download(t, start='2007-1-1')['Adj Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [19]:
sec_data.tail()

                  AAPL        NVDA
Date
2024-06-18  214.289993  135.580002
2024-06-20  209.679993  130.779999
2024-06-21  207.490005  126.570000
2024-06-24  208.139999  118.110001
2024-06-25  209.070007  126.089996

In [20]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                AAPL      NVDA
Date
2007-01-03       NaN       NaN
2007-01-04  0.021953 -0.004722
2007-01-05 -0.007147 -0.064706
2007-01-08  0.004926  0.007400
2007-01-09  0.079800 -0.019655
...              ...       ...
2024-06-18 -0.011045  0.034517
2024-06-20 -0.021748 -0.036045
2024-06-21 -0.010499 -0.032721
2024-06-24  0.003128 -0.069179
2024-06-25  0.004458  0.065380

[4399 rows x 2 columns]

In [21]:
sec_returns['AAPL'].mean()

0.0010037115958746526

In [22]:
sec_returns['AAPL'].mean() * 250

0.25092789896866313

In [23]:
sec_returns['AAPL'].std()

0.019932232296523588

In [24]:
sec_returns['AAPL'].std() * 250 ** 0.5

0.31515626454291606

In [25]:
sec_returns['NVDA'].mean()

0.001235107516552573

In [26]:
sec_returns['NVDA'].mean() * 250

0.3087768791381432

In [27]:
sec_returns['NVDA'].std()

0.030991734088993427

In [28]:
sec_returns['NVDA'].std() * 250 ** 0.5

0.49002234179751364

In [29]:
sec_returns[['AAPL', 'NVDA']].mean() * 250

AAPL    0.250928
NVDA    0.308777
dtype: float64

In [30]:
sec_returns[['AAPL', 'NVDA']].std() * 250 ** 0.5

AAPL    0.315156
NVDA    0.490022
dtype: float64

In [31]:
sec_returns[['AAPL', 'NVDA']].std() * 250 ** 0.5

AAPL    0.315156
NVDA    0.490022
dtype: float64